@model DevCms.ContentTypes.Entity

<footer class="footer text-center text-sm-left">
    <section class="well">
        <div class="container">
            <p>
                @Model["Наименование"]© <span id="copyright-year"></span>.
                <a rel="nofollow" href="http://armatron64.ru" target="_blank">
                    @Model["Описание"]
                </a>
            </p>
            <p style="margin-top: -6px;">
                @Model["Адрес"]
            </p>
        </div>
    </section>
</footer>