
<!-- Contact us -->
<section class="well-sm">
    <div class="container">
        <h4>
        Акции
        </h2>
        <p>
            К сожалению, сейчас нет действующих акций
        </p>
    </div>
</section>
<!-- END Contact us -->

<!-- RD Google Map -->
<div class="rd-google-map">
    <div id="google-map" class="rd-google-map__model"></div>
    <ul class="rd-google-map__locations">
        <li data-x="45.975557" data-y="51.598831">
            <p>
                410080, г. Саратов, ул. Рижская, д. 31 а, оф.8.
            </p>
        </li>
    </ul>
</div>
<!-- END RD Google Map -->