<footer class="footer text-center text-sm-left">
    <section class="well">
        <div class="container">
            <p>
                ООО «Арматрон»© <span id="copyright-year"></span>.
                <a rel="nofollow" href="http://armatron64.ru" target="_blank">
                    Производство, оптовая и розничная торговля газовым оборудованием.
                </a>
            </p>
            <p style="margin-top: -6px;">
                410080, г. Саратов, ул. Рижская, д. 31 а, оф.8.
            </p>
        </div>
    </section>
</footer>