
<!-- Contact us -->
<section class="well-sm">
    <div class="container">
        <h4>
        Условия доставки и оплаты
        </h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p>
                    <ul>
                        <li>
                            Отгружаем продукцию в день оплаты. 
                        </li>
                        <li>
                            До терминала транспортных компаний г. Саратов доставка бесплатна.
                        </li>
                        <li>
                            Оплата услуг доставки по межтерминальной перевозке по умолчанию возложена на покупателя. Оплата услуг ТК отправителем ООО "АРМАТРОН" по предварительному согласованию с персональным менеджером. 
                        </li>
                        <li>
                            Доставка любым логистическим оператором (транспортной компанией) имеющим филиал в вашем городе присутствия.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-xs-12 col-md-6">
                <img class="delivery-image" src="images/delivery.png" alt="Доставка" />
            </div>
        </div>
    </div>
</section>
<!-- END Contact us -->

<!-- RD Google Map -->
<div class="rd-google-map">
    <div id="google-map" class="rd-google-map__model"></div>
    <ul class="rd-google-map__locations">
        <li data-x="45.975557" data-y="51.598831">
            <p>
                410080, г. Саратов, ул. Рижская, д. 31 а, оф.8.
            </p>
        </li>
    </ul>
</div>
<!-- END RD Google Map -->